snippet html "html" b
<!DOCTYPE html>
<html>
<head>
<title>$1</title>
</head>
<body>

<h1>$2</h1>
<p>$3</p>

</body>
</html> 
endsnippet

snippet h1 "h1" B
<h1>
$1
</h1>
endsnippet

snippet h2 "h2" B
<h1>
$1
</h1>
endsnippet

snippet h3 "h3" B
<h1>
$1
</h1>
endsnippet

snippet p "p" B
<p>
$1
</p>
endsnippet

snippet script "script" B
<script>
$1
</script>
endsnippet

snippet < "all tags" A
<$1>
$2
</$1>
endsnippet
